{%  extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Авторизация" %}{% endblock %}

{% block content %}
<div class="page-header">
    <h1 class="text-center">{% trans "Постановка задачи" %}</h1>
</div>
<div class="row">
    <div class="col-md-10  col-md-offset-1">
        <h3>Реализовать на Python (используя любые либы) простой менеджер задач.</h3>
        <h4>Его функции:</h4>
        <ul>
            <li>Создание задачи на определенного пользователя. При создании этому пользователю [ответственному за задачу] должно уходить сообщение</li>
            <li>Пользователь должен уметь закрыть задачу, отменить ее и отложить на определенное время</li>
            <li>Когда приходит время отложенной задачи, нужно отправлять сообщение ответственному</li>
            <li>Пользователь может добавить комментарий к задаче</li>
            <li>Для пользователя выводить список своих задач в порядке приоритетности, а также добавить удобные фильтры для работы с задачами</li>
            <li>Добавить возможность сменить ответственного. При смене новому ответственному уходит соответствующее сообщение</li>
        </ul>
        <p>Сообщения можно просто записывать в базу данных</p>
        <p>Плюсом будет реализация с использованием фрэймворка Django</p>
    </div>
</div>
{% endblock %}
